@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InExile 2.0.Web</h1>
    <p class="lead">InExile 2.0.Web is a set of tools to help you manage your scenes and assets</p>
    <p><a href="https://github.com/Wolfkhan66/InExile2.0" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Head on over to the Guide and start adding data about your NPC's, Items and Locations in your game.
        </p>
        <p><a class="btn btn-default" href="/Guide/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Assets</h2>
        <p>Use entries from the guide to create assets for the scene manager</p>
        <p><a class="btn btn-default" href="/Assets/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scene Manager</h2>
        <p>Create and manage scenes for your game.</p>
        <p><a class="btn btn-default" href="/SceneManager/Index">Learn more &raquo;</a></p>
    </div>
</div>