@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guide</h1>
    <p class="lead">Welcome to the GuideBook. Here you'll be able to view and edit information about the NPC's, Locations and Item's in the Game.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>NPC's</h2>
        <p>
            Click here to view and edit NPC's
        </p>
        <p><a class="btn btn-default" href="/Guide/NPCs">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>
            Click here to view and edit locations
        </p>
        <p><a class="btn btn-default" href="/Guide/Places">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Items</h2>
        <p>Click here to view and edit items</p>
        <p><a class="btn btn-default" href="/Guide/Items">View &raquo;</a></p>
    </div>
</div>