
<div class="jumbotron">
    <h1>NPC's</h1>
    <p class="lead">View and edit your entries below. To get started, click 'Create Entry'</p>
    <p><a href="/Create/NPC" class="btn btn-primary btn-lg">Create Entry &raquo;</a></p>
</div>
