
        <div class="jumbotron alert-success ">
            <h1>Success!</h1>
            <p class="lead"> Guide entry has been created.</p>
        </div>
  
<div class="row">
    <div class="col-md-4">
        <h2>NPCs</h2>
        <p><a class="btn btn-info" href="/Guide/NPCs">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p><a class="btn btn-info" href="/Guide/Locations">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Items</h2>
        <p><a class="btn btn-info" href="/Guide/Items">View &raquo;</a></p>
    </div>
</div>